{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier",
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "window": true,
    "fetch": true,
    "globals": true
  },
  "rules": {
    "prettier/prettier": "error",
    "curly": [
      "error",
      "multi-line"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "if"
      },
      {
        "blankLine": "always",
        "prev": "if",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "memo",
          "element",
          "key",
          "req",
          "acc",
          "result"
        ]
      }
    ],
    "class-methods-use-this": "off",
    "id-length": [
      "error",
      {
        "exceptions": [
          "_",
          "x",
          "y",
          "$"
        ]
      }
    ],
    "no-use-before-define": [
      "error",
      "nofunc"
    ],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-throw-literal": "off",
    "import/extensions": "off"
  }
}
