@import "../styles/all.css";

.root {
  padding-top: 10rem;

  @include Breakpoint-mobileOnly {
    padding-top: 5rem;
  }

  h1 {
    margin-bottom: 5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  button {
    height: 100%;
    padding: 0.6rem;
    margin-left: 1rem;

    border-radius: 4px;
    cursor: pointer;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    margin: 2rem 0;

    border-radius: 4px;
  }

  a {
    color: white;
  }
}
