---
layout: base.liquid
---

<h1>urls.wtf</h1>
<p>minimalistic url shortener.</p>
<p>no tracking.</p>
<p>no ads.</p>

<form class="url-form" onsubmit="GlobalUrlController.onFormSubmit(event)">
  <input
    id="urlInput"
    name="url"
    placeholder="Type in your url..."
    aria-label="Enter an URL to shorten"
  />
  <button id="urlSubmitButton" disabled="true">Go!</button>
</form>

<noscript>
  <p>Can't help you if you disable scripts.</p>
  <p>You can check the code. It's inlined right here.</p>
</noscript>

<div class="results">
  <p style="display: none;" id="apiError"></p>
  <a style="display: none;" id="apiResult"></a>
  <button
    style="display: none;"
    id="copyButton"
    onclick="GlobalUrlController.onCopyClick()"
  >
    copy
  </button>
  <p style="display: none;" id="apiLoading">loading</p>
</div>

<p style="margin-top: 4rem;">{{ urls.count }} urls registered so far</p>
<a href="https://github.com/jfranciscosousa/urls.wtf">View Github</a>

<script>
  {% jsmin %}
    {% include scripts/urlController.js %}
  {% endjsmin %}
</script>
