---
layout: base.liquid
---

<h1>urls.wtf</h1>
<p>minimalistic url shortener.</p>
<p>no tracking.</p>
<p>no ads.</p>

<form class="url-form" onsubmit="GlobalSubmitUrl.onsubmit(event)">
  <input id="urlInput" name="url" placeholder="Type in your url..." aria-label="Enter an URL to shorten" />
  <button id="urlSubmitButton" disabled="true">Go!</button>
</form>

<noscript>
  <p>Can't help you if you disable scripts.</p>
  <p>You can check the code. It's inlined right here.</p>
</noscript>

<p style="display: none;" id="apiError"></p>
<a style="display: none;" id="apiResult"></a>
<p style="display: none;" id="apiLoading">loading</p>

<script>
  {% include scripts/submitUrl.js %}
</script>
